<h1>Remove Churches</h1>


<a asp-controller="Church" asp-action="Remove">Remove Church</a>
<form method="post">
    <h2>Confirm Deletion</h2>

    @foreach (var church in ViewBag.churches)
    {
        <input type="radio" name="churchIds" id="@church.ID" value="@church.ID" />
        <label for="@church.ID">@church.Name</label>
        <input type="submit" value="Remove" />

        <br />
             
    }


</form>



